body {
  margin: 0;
  background-color: #82C9c1
  background-position: center;
}

.font-color {
  font-size: 45px;
  font-family: 'Bad Script';
}

.logo {
  animation: mymove2 5s infinite;
  background-position: center;
  position: relative;
}

@keyframes mymove2 {
  from {left: 0px;}
  to {left: 450px;}
}
